nav {
  background: #f9f7fe;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
}
h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
h3 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.hero {
  background: #f9f7fe;
  padding: 273px 0;
  text-align: center;
}
